.home_wrapper{
  background-color: #FFFEFC;
  width: 100vw;
  margin: 0;
  background-image: url('/themes/Iplay/media/images/Fotboll_Magenta.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}
.home_header{
  padding-top: 40px;
}
.home_header_text{
  color: rgba(248,27,132,1);
  font-size: 18.5px;
  text-align: center;
  font-family: 'third_rail';
}
.home_header_button_wrap{
  display: flex;
  justify-content: center;
  padding-top: 20px;

  .home_header_button{
    border: 0.1px solid #ffc266;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    filter: opacity(70%);
    height: 40px;
    color: white;
    font-size: 11.1px;
    font-family: 'helvetica_n_bold';
    background: #EA8C45;
    transform: skewX(-20deg);
    transition: .2s;
    cursor: pointer;
    span, img{
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
    }
    img{
      height: 27px;
      width: 67px;
    }
  }
}
.home_header_button.home_header_button_active{
  transform: translateY(-10px) translateX(3px) skewX(-20deg) scaleX(1.1) scaleY(1.1);
  z-index: 1;
  filter: none;
  transition: .2s;
}
.notActive{
  display: none;
}

.home_footer{
  z-index: 1;
  height: 10vh;
  position: fixed;
}
.footer_text{
  background-color: rgba(255,255,255, 0.7);
  position: fixed;
  bottom: 10vh;
  color: rgba(248,27,132,1);
  font-size: 13px;
  text-align: center;
  font-family: 'third_rail';
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.home_footer_button_wrap{
  position: fixed;
  bottom: 0;
  width: 130%;
  margin-left: -15%;
  margin-right: -15%;
  display: flex;
  flex-flow: nowrap;
  height: 10vh;
  -webkit-transform: skewX(-50deg);
  transform: skewX(-50deg);

  .home_footer_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 50%;
    font-weight: bold;
    font-size: 13.33px;
    text-decoration: none;
  }
  a:nth-child(1) {
    z-index: 1;
    padding-left: 8%;
    background-color: #FADFCB;
    color: #EA8C45;
  }
  a:nth-child(2) {
    padding-right: 8%;
    z-index: 1;
    color: white;
    background-color: #EA8C45;
  }
  span, img{
    -webkit-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  img{
    width: 21px;
    height: 23px;
    margin-right: 10px;
  }
}
