.home_wrapper{
  background-color: #FFFEFC;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url('/themes/Iplay/media/images/Fotboll_Magenta.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}
.home_header{
  padding-top: 40px;
}
.home_header_text{
  color: rgba(248,27,132,1);
  font-size: 18.5px;
  text-align: center;
  font-family: 'third_rail';
}
.home_header_button_wrap{
  display: flex;
  justify-content: center;
  padding-top: 20px;

  .home_header_button{
    border: 0.1px solid #ffc266;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    filter: opacity(70%);
    height: 40px;
    color: white;
    font-size: 11.1px;
    font-family: 'helvetica_n_bold';
    background: #EA8C45;
    transform: skewX(-20deg);
    transition: .2s;
    cursor: pointer;
    span, img{
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
    }
    img{
      height: 27px;
      width: 67px;
    }
  }
}
.home_header_button.home_header_button_active{
  transform: translateY(-10px) translateX(3px) skewX(-20deg) scaleX(1.1) scaleY(1.1);
  z-index: 1;
  filter: none;
  transition: .2s;
}
.notActive{
  display: none;
  height: 0px;
  width: 0px;
}
.header_desktop_logo{
  display: none;
  height: 0px;
  width: 0px;
}
//desktop header
@media screen and (min-width: 900px){
  div.home_header_button.home_button_active.second_button{
    display: none;
    height: 0px;
    width: 0px;
  }
  div.home_header_button.second_button{
    display: none;
    height: 0px;
    width: 0px;
  }
  .home_header{
    position: relative;
    height: 8vh;
    width: 100%;
    background-color: #F7882F;
  }
  .home_header_text{
    color: #F81B84;
    font-size: 16px;
    text-align: center;
    font-family: 'helvetica_n_regular';
  }
  .header_desktop_logo{
    display: flex;
    justify-content: flex-start;
    margin-left: 11.24vh;
    height: 8vh;
    width: 9vw;
    img{
      height: 100%;
      width: 100%;
      background-color: #F7882F;
    }
  }
  .home_header_button_wrap{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 50px;
    // padding-top: 20px;



    .home_header_button{
      // border: 0.1px solid #ffc266;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      // filter: opacity(70%);
      // width: 90px;
      // height: 40px;
      height: 32px;
      width: 193px;
      color: #F81B84;
      font-size: 11.1px;
      font-family: 'helvetica_n_bold';
      background-color: #FFFEFC;
      transform: skewX(-20deg);
      transition: .2s;
      cursor: pointer;
      span, img{
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
      }
      img{
        height: 0px;
        width: 0px;
        display: none;
      }
      .button_desktop{
        position: absolute;
        left: 0;
        width: 30px;
        height: 32px;
        background-color: #F81B84;
      }
    }
  }

  .home_header_button.home_header_button_active{
    transform: translateY(-10px) translateX(3px) skewX(-20deg) scaleX(1.1) scaleY(1.1);
    z-index: 1;
    filter: none;
    transition: .2s;
  }
  .notActive{
    display: none;
    height: 0px;
    width: 0px;
  }
}

.home_slider_title_not_active{
  display: none;
}
.home_right_column_not_active{
  display: none;
}
.home_slider_title{
  display: none;
}
.home_right_column{
  display: none;
}

@media only screen and (min-width: 900px) {
  .home_wrapper{
    float: left;
  }
  .home_header{
    padding-top: 0;
  }
  .home_header_text{
    display: none;
  }
  .second_button{
    display: none;
  }
  .home_slider_title{
    display: block;
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-top: 100px;
    color: rgba(248,27,132,1);
    font-size: 58px;
    text-align: center;
    font-family: 'third_rail';
  }

  .home_right_column{
    display: flex;
    justify-content: center;
    float: right;
    width: 50%;
    height: 100%;
    img{
      width: 90%;
      height: auto;
    }
  }
  .carousel-inner{
    width: 40%;
    margin-left: 10%;
  }

  .carousel_content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(14,17,17,1);
    text-align: justify;
    text-justify: inter-word;
    height: 200px;

    font-family: 'helvetica_n_regular';
    p:nth-child(2), p:nth-child(3) {
      text-align: right;
      margin-bottom: 0;
    }
  }
  .slide{
    margin-top: 80px;
  }
}
