body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.desktop_box{
  position: fixed;
  bottom: 9vh;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3vh;
  background-color: rgba(248,27,132,1);
  z-index: 2;
}
.slogan, .slogan2{
  color: #F6F6F6;
  opacity: 0;
  height: 0px;
  width: 0px;
}
ul {
  display: none;
}
.get_app{
  opacity: 0;
  color: #F6F6F6;
}
.mobile_menu{
  position: fixed;
  bottom: 9vh;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 24px;
  background-color: rgba(248,27,132,1);
  z-index: 2;
  transition: height 1s, background-color 3s, transform 2s;
}
.rectangle{
  position: fixed;
  background-color: rgba(248,27,132,1);
  padding: 0;
  bottom: 11.8vh;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	height: 40px;
  width: 90px;
}
.mobile_menu.active{
  height: 80vh;
  transition: background-color .1s;
  transition: height 1s;
  background-color: #F6F6F6;
  width: 79.17%;
  z-index: 100;
  position: fixed;
  bottom:12vh;
  .rectangle{
    position: absolute;
    background-color: rgba(248,27,132,1);
    padding: 0;
    top: 0;
    clip-path: polygon(46% 100%, 0 0, 100% 0);
  	height: 23px;
    width: 50px;
  }
  .slogan{
    position: absolute;
    display: block;
    margin-top: 2.51%;
    height: 8vh;
    width: 80vw;
    color: #F81B84;
    font-family: 'third_rail';
    text-align: center;
    opacity: 1;
    transition: 1s ease-in;
  }
  .slogan h1 {
    font-size: 35px;
    letter-spacing: 2.77px;
    line-height: 58px;
  }
  .slogan2{
    position: absolute;
    bottom: -6px;
    display: block;
    margin-bottom: 1.51%;
    height: 38px;
    width: 90vw;
    color: #F81B84;
    font-family: 'third_rail';
    text-align: center;
    transition: 1s ease-in;
    opacity: 1;
  }
  .slogan2 h1 {
    font-size: 35px;
    letter-spacing: 2.77px;
    line-height: 58px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  li  {
    position: relative;
    display: flex;
    margin-top: 15px;
    left: 65px;
    padding: 0;
		height: 28vh;
    width: 28vw;
    font-size: 23.04px;
    background-color: #FFFEFC;
    text-decoration: none;
  }
  .description-Athletes, .description-Fans, .description-Business, .description-Institutions{
  	height: 14vh;
    width: 14vw;
    position: absolute;
    left: 42%;
    bottom: 48px;
    top: 70px;
    font-size:small;
    align-self: flex-start;
    font-family: 'helvetica_n_regular';
  }
  .goto-Athletes, .goto-Fans, .goto-Business, .goto-Institutions{
    height: 6vh;
    width: 22vh;
    position: absolute;
    right: -40px;
    bottom: -20px;
    font-family: 'helvetica_n_regular';
    text-decoration: underline;
    font-weight: bold;
    font-size:small;
    align-self: flex-start;
    cursor: pointer;
  }
  @media screen and (min-width: 900px) and (max-width: 990px){
    li {
      top: 22px;
      height: 25vh;
      width: 25vw;
    }
    .description-Athletes, .description-Fans, .description-Business, .description-Institutions{
        display: none;
      }

    }
  @media screen and (min-width: 900px){
    ul li a {
      color:rgba(0,0,0,1);
      text-decoration: none;
      margin-top: 24px;
      margin-left: 42%;
      &:hover{
        text-decoration: none;
        color:rgba(0,0,0,1);
      }
    }
  .athlete-menu-item, .fans-menu-item{
      margin-bottom: 28px;
  }

  .athlete-menu-item,.business-menu-item{
      margin-right: 48px;
  }
  .athlete-menu-item, .fans-menu-item, .business-menu-item, .institutions-menu-item  {
    &:before {
      height: 8vh;
      top: 25px;
      position: absolute;
      left: 24px;
      right: 40px;
      width: 8vw;
    }
  }
  }

.athlete-menu-item {
  &:before {
    content: url('/themes/Iplay/media/images/athletesicon.svg');
  }
}
.fans-menu-item {
  &:before {
    content: url('/themes/Iplay/media/images/fansicon.svg');
  }
}
.business-menu-item {
  &:before {
    content: url('/themes/Iplay/media/images/businessicon.svg');
  }
}
.institutions-menu-item {
  &:before {
    content: url('/themes/Iplay/media/images/institutionsicon.svg');
  }
}
}

@media screen and (max-width: 900px){
  .desktop_box{
    display: none;
    width: 0px;
    height: 0px;
  }
  .rectangle{
    position: fixed;
    padding: 0;
    top: 1.8vh;
    clip-path: polygon(46% 100%, 0 0, 100% 0);
    height: 19px;
    width: 36px;
  }
  .mobile_menu{
    position: fixed;
    top:0;
    height: 2vh;
    background-color: rgba(248,27,132,1);
    z-index: 2;
    transition: height 1s, background-color 4s, transform 3s;
  }
  .slogan, .slogan2{
    display: none;
    height: 0px;
    width: 0px;
  }
  .mobile_menu.active{
    height: 90vh;
    transition: background-color .1s;
    transition: height 1s;
    background-color: rgba(240,240,240,1);
    background-image: url('/themes/Iplay/media/images/background_mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    ul li a {
      color:rgba(0,0,0,1);
      text-decoration: none;
      margin-left: 94px;
      &:hover{
        text-decoration: none;
        color:rgba(0,0,0,1);
      }
    }
    ul {
      list-style: none;
      padding: 0;
      width: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    ul li {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Helvetica Neue";
      height: 64px;
      width: 288px;
      font-size: 190%;
      font-weight: bold;
      line-height: 34px;
      text-decoration: none;
      color: rgba(0,0,0,1);
      margin-bottom: 4.41%;
      z-index: 100;
    }
    li{
      left:0;
    }
    .get_app{
      opacity: 1;
      transition: 1s ease-in;
      position: relative;
      display: block;
      color: white;
      z-index: 100;
      top: 52px;
      margin-bottom: 50px;
      height: 56px;
      width: 65%;
      color: rgba(248,27,132,1);
      font-family: "third_rail";
      text-align: center;
      text-transform: uppercase;
    }
    .get_app h2{
      font-size: 23.04px;
      line-height: 28px;
    }
    .slogan, .slogan2{
      display: none;
    }
    .description-Athletes, .description-Fans, .description-Business, .description-Institutions{
      display: none;
    }
      .goto-Athletes, .goto-Fans, .goto-Business, .goto-Institutions{
        display: none;
      }
    .rectangle{
      display: none;
    }
    .rectangle_2{
      position: absolute;
      background-color: rgba(248,27,132,1);
      padding: 0;
      bottom: 0;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      height: 12px;
      width: 24px;
    }
    li .athlete-menu-item{
        margin-top: 72px;
    }

    .athlete-menu-item,.fans-menu-item,.business-menu-item, .institutions-menu-item  {
      &:before {
        height: 3rem;
        position: absolute;
        left: 1.5rem;
        width: 3rem;
      }
    }
    }
}
