@font-face{
  font-family: 'third_rail';
  src: url('/themes/Iplay/media/fonts/third_rail-webfont.woff') format('woff');
}
@font-face{
  font-family: 'helvetica_n_bold';
  src: url('/themes/Iplay/media/fonts/helvetica-neue-bold.woff2') format('woff');
}
@font-face{
  font-family: 'helvetica_n_regular';
  src: url('/themes/Iplay/media/fonts/helvetica-neue-regular.woff2') format('woff');
}
