.home_wrapper {
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.home_header {
  padding-top: 30px;
}

.home_header_text {
  color: white;
  font-size: 18.5px;
  text-align: center;
  font-family: 'third_rail';
}

.home_header_button_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.home_header_button_wrap .home_header_button {
  border: 0.1px solid #ffc266;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
  height: 40px;
  color: white;
  font-size: 11.1px;
  font-family: 'helvetica_n_bold';
  background: #EA8C45;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  -webkit-transition: .2s;
  transition: .2s;
}

.home_header_button_wrap .home_header_button span,
.home_header_button_wrap .home_header_button img {
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}

.home_header_button_wrap .home_header_button img {
  height: 27px;
  width: 67px;
}

.home_header_button.home_header_button_active {
  -webkit-transform: translateY(-10px) translateX(3px) skewX(-20deg) scaleX(1.1) scaleY(1.1);
          transform: translateY(-10px) translateX(3px) skewX(-20deg) scaleX(1.1) scaleY(1.1);
  z-index: 1;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.notActive {
  display: none;
}

.footer_text {
  position: absolute;
  bottom: 40px;
  color: white;
  font-size: 13px;
  text-align: center;
  font-family: 'third_rail';
  width: 100%;
}

.home_footer_button_wrap {
  position: fixed;
  bottom: 0;
  width: 130%;
  margin-left: -15%;
  margin-right: -15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  height: 50px;
  -webkit-transform: skewX(-50deg);
  transform: skewX(-50deg);
}

.home_footer_button_wrap .home_footer_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50%;
  font-weight: bold;
  font-size: 13.33px;
  text-decoration: none;
}

.home_footer_button_wrap a:nth-child(1) {
  z-index: 1;
  padding-left: 8%;
  background-color: #FADFCB;
  color: #EA8C45;
}

.home_footer_button_wrap a:nth-child(2) {
  padding-right: 8%;
  z-index: 1;
  color: white;
  background-color: #EA8C45;
}

.home_footer_button_wrap span,
.home_footer_button_wrap img {
  -webkit-transform: skewX(50deg);
  transform: skewX(50deg);
}

.home_footer_button_wrap img {
  width: 21px;
  height: 23px;
  margin-right: 10px;
}

@font-face {
  font-family: 'third_rail';
  src: url("/themes/Iplay/media/fonts/third_rail-webfont.woff") format("woff");
}

@font-face {
  font-family: 'helvetica_n_bold';
  src: url("/themes/Iplay/media/fonts/helvetica-neue-bold.woff2") format("woff");
}

@font-face {
  font-family: 'helvetica_n_regular';
  src: url("/themes/Iplay/media/fonts/helvetica-neue-regular.woff2") format("woff");
}

.carousel_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10%;
  padding-right: 10%;
  height: 200px;
  font-family: 'helvetica_n_regular';
}

.carousel_content p:nth-child(2),
.carousel_content p:nth-child(3) {
  text-align: right;
  margin-bottom: 0;
}

.slide {
  margin-top: 50px;
}

.about_wrapper {
  margin-top: 30px;
}

.about_element_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'helvetica_n_regular';
  margin-bottom: 10px;
}

.about_element_wrapper img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 25px;
  margin-right: 10px;
}

.about_element_wrapper p {
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  margin: 0;
  font-size: 16px;
  width: 80%;
}

