.home_wrapper {
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.home_button_wrap .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 11.1px;
  font-family: Helvetica;
  background: #EA8C45;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.home_button_wrap .button span {
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}

@font-face {
  font-family: 'third_rail';
  src: url("/themes/Iplay/media/fonts/third_rail-webfont.woff") format("woff");
}

