.carousel_content{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10%;
  padding-right: 10%;
  height: 200px;
  font-family: 'helvetica_n_regular';
  p:nth-child(2), p:nth-child(3) {
    text-align: right;
    margin-bottom: 0;
  }
}
.slide{
  margin-top: 50px;
}
